div#section3-container
	div.row
		div.col-md-12.question What are the roles of the offices you chose that you'd want to learn about?
		div.col-md-12
			span Press 
				image(src='img/keyboard-a.png') 
			span to select all.
	div#role-grid.row
		div.role.col-md-6
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Head Of Government
		div.role.col-md-6
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Deputy Head Of Government
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Head Of State
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content highestCourtJudge
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content judge
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Government Officer
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Legislator Lower Body
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Legislator Upper Body
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Executive Council
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content School Board
		div.role.col-md-6 
			div.level-icon
				img(src='img/not-checked.png')
			div.level-content Special Purpose Officer
	div.row
		//- div.not-enough-input 
		p.bg-danger.not-enough-input Please add more interest roles, there is no matching roles with your current input. Thank you.

	div.row
		div.h-center
			div.button-wrap
				button#roles-btn.btn.btn-success Show me some officials

